<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8" />
    	<title>{% block title %}PablodipAdminModuleBundle{% endblock %}</title>
        {% stylesheets
            'bundles/pablodipadminmodule/vendor/*/css/*.css' filter='cssrewrite'
            'bundles/pablodipadminmodule/css/*.css' filter='cssrewrite'
        %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheet_extra %}{% endblock %}
    </head>
    <body>
        <script>var inline = []</script>

        {# Bootstrap 3 Navbar #}
        {# Includes Dropdowns and Search box, probably more than you'd need #}
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">PablodipAdminModuleBundle</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

		<div class="container-fluid">
        {% for alert in ['warning', 'error', 'success', 'info'] %}
            {% for flash in app.session.flashbag.get(alert) %}
                <div class="alert alert-{{ alert }} admin-alert">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
		    <div id="content">
            	{% block content %}{% endblock %}
            </div>
		</div>
        {% javascripts
            '@PablodipAdminModuleBundle/Resources/public/vendor/*/js/*.js'
            '@PablodipAdminModuleBundle/Resources/public/js/*.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascript_extra %}{% endblock %}
        {% include 'PablodipAdminModuleBundle::javascript_inline.html.twig' %}
    </body>
</html>
