{% extends 'PablodipAdminModuleBundle::layout.html.twig' %}

{% block title %}{{ module.actionOption('new', 'heading') }}{% endblock %}

{% block content %}
    <h1>{{ module.actionOption('new', 'heading') }}</h1>

    <form action="{{ module.path('create') }}" method="POST" class="form-vertical">
        <fieldset>
            <legend></legend>

            {% include 'PablodipAdminModuleBundle::form.html.twig' %}

            <div class="form-actions">
                <input type="submit" value="Save" class="btn btn-primary" />
                <span class="admin-or">or</span>
                <a href="{{ module.path('list') }}" class="btn btn-default">Cancel</a>
            </div>
        </fieldset>
    </form>
{% endblock %}
