body {
    /* Make main content clear top navbar */
    padding-top: 70px;
}

.admin-alert {
    margin: 10px 0 18px;
}

.admin-display-none {
    display: none;
}

.admin-clear {
    clear: both;
}

h1 {
    margin: 8px 0 15px;
}

/*
 * List
 */
.admin-list-reset {
    float: left;
}

.admin-list-simple-advanced-search-switch {
    float: right;
    margin-bottom: 18px;
}

.admin-list-simple-search,
.admin-list-advanced-search-switch {
    display: inline-block;
}

.admin-list-simple-search {
    float: left;
    margin-right: 4px;
}

/* These styles usually come from Bootstrap at >= 768px wide */
/* Without them, simple search form wraps at mobile size */
@media (max-width: 767px) {
    .admin-list-simple-search .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}

.admin-list-simple-search form {
    margin-bottom: 0;
}

.admin-list-nb-results-and-actions {
}

.admin-list-nb-results-and-actions .admin-list-nb-results {
    float: left;
    font-weight: bold;
}

.admin-list-nb-results-and-actions .admin-list-actions {
    float: right;
}

.admin-list-table {
    margin: 7px 0 10px;
}

.admin-list-table th {
    background: #ffc;
}

.admin-list-table th,
.admin-list-table td {
    padding: 5px 6px;
}

.admin-list-table .admin-list-align-left {
    text-align: left;
}

.admin-list-table .admin-list-align-center {
    text-align: center;
}

.admin-list-table .admin-list-align-right {
    text-align: right;
}

.admin-list-th-checkbox {
    width: 1px;
}

.admin-list-th-actions {
    margin: .8em 0;
}

.admin-list-td-actions {
    overflow: hidden;
    white-space: nowrap;
    width: 1px;
}

.admin-list-bath-max-per-page {
}

.admin-list-bath-max-per-page .admin-list-batch {
    float: left;
}

.admin-list-batch form {
    display: inline;
}

.admin-list-batch form label {
    float: none;
    width: auto;
}

.admin-list-batch form input,
.admin-list-batch form select {
    margin-right: 3px;
}

.admin-list-batch select, .admin-list-max-per-page select {
    border: 1px solid #ccc;
    height: 30px;
}

.admin-list-batch select {
    width: 220px;
}

.admin-list-max-per-page select {
    width: 60px;
}

.admin-list-max-per-page {
    float: right;
}

.admin-list-max-per-page label {
    float: none;
}

.admin-list-pagination {
    margin-top: 20px;
    text-align: center;
}

/*
//
// ***** Forms e.g. log-in, vertically aligned (e.g. input below label) *****
//
*/
.form-vertical .form-group, .form-vertical .form-actions {
    /* Limit width, since inouts are set to 100% */
    min-width: 200px;
    max-width: 25%;
}

.form-actions {
    /* Block containing Save/Cancel buttons etc. */
    margin-top: 25px;
    margin-bottom: 30px;
}

.form-actions span {
    /* Usually contains the "or" between Save and Cancel */
    margin: 0 5px;
}

/*
//
// ***** Togglable advanced search form *****
//
*/
.admin-list-advanced-search .form-group {
    /* Make search field rows display under the rows' titles */
    display: block;
    margin: 0 0 10px;
}

.admin-list-advanced-search .search-option-title label:after {
    /* Add puntuation after title */
    content: ':';
}

.admin-list-advanced-search .search-option {
    /* Indent around titles */
    margin: 0 0 15px 20px;
    padding: 5px 0 20px;
    border-bottom: 1px solid #e5e5e5;
}

.admin-list-advanced-search .search-option label {
    /* Labels in form rows, differentiate from titles */
    font-weight: normal;
    margin-right: 5px;
}

.admin-list-advanced-search .search-option select, .admin-list-advanced-search .search-option input {
    margin-right: 5px;
}
